@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900;1,1000&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Mulish:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900;1,1000&family=Sriracha&display=swap');


/* Arquivo de estilos para mobaile */

*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: 0px;
}



body, html{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(95deg,hsla(238, 100%, 44%, 0.050), rgba(221, 10, 200, 0.0050));
}

header{
    position: relative;
    width: 97vw ;
    height: 110px;
    margin: 5px;  
}

header img:hover{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.774);
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    transition: 0.1s;
}

div#img-login{
    width: 40px;
    height: 40px;
}

div#img-login > img{
    margin: 2px 0px 0px 8px;
}

div#txt-login{
    position: relative;
    background-image: linear-gradient(150deg, #0007E0, #DD0AC7);
    top: -36px;
    left: 60px;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    margin: 0px 0px 0px 0px;
}

div#txt-login > p{
    margin-top: 5px;
    font-family: 'Mulish', sans-serif;;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

div#txt-login:hover{
    position: relative;
    top: -36px;
    left: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px #0007E0, -1px -1px 3px #0007E0;
    transition: 0.1s;
}

div#img-carrinho{
    display: block;
    float: right;
    position: relative;
    top: -67px;
    width: 40px;
    height: 40px;
}

div#img-carrinho > img{
    margin: px 0px px 0px;
}

header img{
    border-radius: 50%;
    width: 35px;
}

div#img-sacola{
    display: block;
    position: relative;
    float: right;
    top: -68px;
    left: -10px;
    width: 40px;
    height: 40px;
}

div#img-sacola > img{
    margin: 2px 2px 2px 2px;
}

div#barra-de-pesquisa{
    display: block;
    background-image: linear-gradient(#0007E0, #DD0AC7);
    position: absolute;
    top: 40px;
    left: 60px;
    height: 35px;
    width: 80vw;
    border-radius: 30px;
}

div#barra-de-pesquisa > input#input-pesquisa { 
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 39px);
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-family: 'mulish', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

img#id-img-lupa-pesquisa{
    display: block;
    float: right;
    border: none;
    box-shadow: none;
    top: 0px;
    left: 0px;
}

div#id-menu{
    background: linear-gradient(95deg,rgba(0, 7, 224, 0.314), rgba(221, 10, 200, 0.315));
    position: relative;
    width: 40px;
    height: 30px;
    top: -24px;
    left: 8px;
    border-radius: 5px;
}

div#id-menu > img{
    position: relative;
    width: 39px;
    top: -4px;
}

img.img-sem-estilo:hover{
    border: none;
    box-shadow: none;
}


div#id-menu:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 3px #0007E0, -1px -1px 3px #0007E0;
    transition: 0.1s;
}

iframe#id-iframe{
    display: block;
    width: 95vw;
    height: 80px;
    margin: auto;
}

div#id-logo{
    position: relative;
    top: -17px;
    left: 125px;
    width: 115px;
    height: 27px;  
}

div#id-logo img{
    width: 56px;
}

div#id-logo > img.img-sem-estilo{
    width: 56px;
}

div#id-logo > p {
    position: relative;
    top: -27px;
    left: 62px;
    font-family: 'Castoro Titling', sans-serif;
    text-shadow: 1px 1px 4px #DD0AC7, -1px -1px 4px #0007E0;
}

section#id-grade{
    background-color: aqua;
    width: 352px;
    height: 900px;
    margin: auto;
}

article{
    background-color: rgb(255, 255, 255);
    width: 349px;
    height: 50px;
}

article#id-linha-grade-1{
    background-color: rgb(251, 255, 0);
    width: 349px;
    height: 170px;
    margin: auto;

}

article#id-linha-grade-2{
    background-color: rgb(247, 0, 255);
    width: 349px;
    height: 170px;
}

article#id-linha-grade-3{
    background-color: rgb(255, 0, 0);
    width: 349px;
    height: 50px;
}
